.icon-28 {
    width: 28px;
    height: 28px;
    border-radius: 28px;
}

.icon-68 {
    width: 68px;
    height: 68px;
    border-radius: 68px;
    object-fit: cover;
}

.icon-100 {
    width: 100px;
    height: 100px;
}